* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(63, 94, 251);
    background: linear-gradient(315deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    min-height: 100vh;
    background-attachment: fixed;
    font-family: monospace;
}

.noDisplay {
    display: none;
}

.myfig {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2.25rem;
    text-align: center;
    float: left;
    margin: .5rem;
    background: rgba(255, 255, 255, 0.55);
    border: 2px solid #fff;
    float: left;
}

h1 {
    display: block;
    text-align: center;
    margin: 0 0 .5rem 0;
    padding: 1rem 0;
    font-weight: 100;
    background: rgba(255, 255, 255,.65);
    background: linear-gradient(315deg, rgba(255, 255, 255, .85) 0%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .85) 100%);

    width: calc(100% - 20px);
    top: 0;
    left: 10px;
    position: fixed;
    backdrop-filter: blur(5px);
    border: 1px solid rgb(255, 255, 255);
    border-top: none;
    box-shadow: -10px 10px 8px rgba(0, 0, 0, 0.05)
    ,10px 10px 8px rgba(0, 0, 0, 0.05);

}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item {
    float: left;
    cursor: pointer;
    text-align: center;
    margin: 2px;
    transition: all .3s;
    background: rgba(255, 255, 255, .55);
}

.field {
    margin: .0rem 0;
}


@media screen and (max-width:450px) {
    .field {
        width: calc(90vw * .8 + 2px);
        height: calc(90vw * .8 + 2px);

    }
    .item {
        width: calc(30vw*.8 - 4px);
        height: calc(30vw*.8 - 4px);
        line-height: calc(30vw*.8 - 4px);
        font-size: calc(30vw*.5);
    }
}
@media screen and (min-width:450px) {
    #tttGame {
        width: 480px;
        margin: 0 auto;
    }

    .field {
        width: 360px;
        height: 360px;
    }
    .item {
        width: 116px;
        height:  116px;
        line-height:  116px;
        font-size: calc( 116px*.5);
    }
}

.w100 {
    width: 100%;
    float: left;
}

.w100flex {
    display: flex;
    flex-direction: column;
}

.selectedFigur {
    background: #fff;
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.55);
    transform: scale(1.2);
}

.opcf5 {
    opacity: .85;
}

.name {
    float: left;
    padding: 5px;
}

.punkte {
    float: right;
    padding: 5px;
}

.error {
    background: red;
}

#gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-height: 4rem;
    background: rgba(0, 0, 0, 0.55);
    border: .5px solid rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.85);
    color: #fff;
    padding-bottom: 10px;
}

#gamer1, #gamer2 {
    margin: 10px;
}

.name {
    font-size: 125%;
}

.points {
    margin: 0;
}

.points::after {
    content: ' Punkte';
    opacity: .5;
    font-size: 80%;
}

.vs {
    font-size: 1.25rem;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.newGame {
    border: none;
    background: rgba(0, 0, 0, 0.55);
    padding: 8px 32px;
    border: .5px solid rgba(255, 255, 255, .75);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.85);
    color: #fff;
    font-size: 1.1rem;
    font-family: monospace;

}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, .25);
}

/**/

.bg-1 {
    background: rgb(251, 63, 63);
    background: linear-gradient(315deg, rgba(251, 63, 63, 1) 0%, rgba(252, 200, 70, 1) 100%);
}

.bg-2 {
    background: rgb(251, 190, 63);
    background: linear-gradient(315deg, rgba(251, 190, 63, 1) 0%, rgba(191, 252, 70, 1) 100%);
}

.bg-3 {
    background: rgb(112, 251, 63);
    background: linear-gradient(315deg, rgba(112, 251, 63, 1) 0%, rgba(70, 252, 172, 1) 100%);
}

.bg-4 {
    background: rgb(63, 251, 251);
    background: linear-gradient(315deg, rgba(63, 251, 251, 1) 0%, rgba(70, 210, 252, 1) 100%);
}

.bg-5 {
    background: rgb(63, 112, 251);
    background: linear-gradient(315deg, rgba(63, 112, 251, 1) 0%, rgba(138, 70, 252, 1) 100%);
}

.bg-6 {
    background: rgb(165, 63, 251);
    background: linear-gradient(315deg, rgba(165, 63, 251, 1) 0%, rgba(224, 70, 252, 1) 100%);
}

.ply1Name, .ply2Name {
    background: rgba(0, 0, 0, 0.55);
    line-height: 36px;
    padding: 0 .5rem;
    color: #fff;
    outline: none;
    border: none;
    margin: 1rem;
}

#updateSettings {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}

#updateSettings button {
    margin: .75rem;
    padding: 8px 16px;
}

.figur {
    width: 36px;
    height: 36px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background: #fff;


    border-radius: 50%;
    margin: -18px 0 3px 0;
}

#mrBot {
    margin: 6px;
    float: left;
}

.robot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    width: calc(100% - 40px);
    float: left;
    background: #fff;
    margin: 20px;
}

.cc {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tttGame,#tttSettings{
    padding-top: 4.5rem;
}

.goSettings{
    margin: 1rem 1rem;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.85);
    font-weight: 100;
}