* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(63, 94, 251);
    background: linear-gradient(315deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    min-height: 100vh;
    background-attachment: fixed;
    font-family:monospace;
}

h1 {
    display: block;
    text-align: center;
    margin: 1rem 0;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    width: calc(90vw * .8 + 2px);
    height: calc(90vw * .8 + 2px);
}

.item {
    float: left;
    cursor: pointer;
    width: calc(30vw*.8 - 4px);
    height: calc(30vw*.8 - 4px);
    line-height: calc(30vw*.8 - 4px);
    font-size: calc(30vw*.5);
    text-align: center;
    margin: 2px;
    transition: all .3s;
    background: rgba(255, 255, 255,.55);
    border-radius: .5rem;
}

.w100 {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
}

.name {
    float: left;
    padding: 5px;
}

.punkte {
    float: right;
    padding: 5px;
}

.error {
    background: red;
}



#gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 4rem;
    background: rgba(0, 0, 0, 0.55);
    border: .5px solid rgba(255, 255, 255,.75);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.85);
    color: #fff;
}

.points::after{
    content: ' Punkte';
    opacity: .5;
}