:root {
    --fieldSize: 300px;
    --itemSize: 94px;
    --appWidth: 100%;
}

body {
    font-family: monospace;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 4px), repeating-linear-gradient( #f0f0f055, #f0f0f0);
    background-attachment: fixed;
    min-height: 100vh;
}

/*
APP
*/

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--appWidth);
}

h1{
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom:2.75rem;
}

/*
Spieler
*/
.player{
    display: flex;   
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 500px;
}
.playerBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.playerOne,.playerTow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38%;
    background: rgba(255, 255, 255, .7);
    border-radius: .5rem;
}

.figur{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    margin-top: -1.2rem;
    text-align: center;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.vs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.name{
    padding: .5rem 0 .25rem 0;
}
.points{
    padding: 0 0 .5rem 0;
}

.points:after{
    font-size: 70%;
    opacity: .7;
    padding-left: 5px;
    content: 'Punkte'
}

/*
Spielfeld
*/

.game-field {
    border: 1px solid transparent;
    width: var(--fieldSize);
    height: var(--fieldSize);
}

.game-field-item {
    border: 1px solid transparent;
    width: var(--itemSize);
    height: var(--itemSize);
    line-height: var(--itemSize);
    font-size: calc(var(--itemSize)*.45);
    margin: 2px;
    text-align: center;
    float: left;
    transition: background-color .5s;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.game-field-item_error {
    background: rgb(254, 168, 168);
    transform: scale(1.1);
    box-shadow: inset 2px -2px 2px rgba(255, 255, 255, 0.7), 
    inset -2px 2px 2px rgba(0, 0, 0, 0.1),
    2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(164, 105, 105);
}

.game-field-reset-btn {
    background: chartreuse;
    padding: .5rem 1rem;
    margin: .75rem;
    border-radius: .5rem;
    border: none;
    border-bottom: 4px solid rgb(85, 169, 0);
    cursor: pointer;
    outline: none;
    transition: all 150ms;
}

.game-field-reset-btn:active {
    margin-top: calc(.75rem + 3px);
    border-bottom: 1px solid rgb(85, 169, 0);
}

/*
INFOBOX
*/

.infobox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px 0;
    transition: all 500ms;
    min-height: 36px;
}

.info {
    padding: 5px 12px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #555;
    transition: all 500ms;
    max-width: 80vw;
}

.error {
    padding: 5px 12px;
    max-width: 80vw;
    border-radius: 3px;
    background: rgb(255, 218, 218);
    box-shadow: inset 2px -2px 2px rgba(255, 255, 255, 0.7), 
    inset -2px 2px 2px rgba(0, 0, 0, 0.1),
    2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(164, 105, 105);
    color: rgb(130, 79, 79);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
    transition: all 500ms;
}